@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

ul {
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180 px;
    margin-inline: 100px;
      /* margin-inline: auto; */
    overflow: hidden;
    height: 80px;
}

nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px  #bbd0e2 ;
    position: fixed;
    top:0;
    z-index: 99;
    left: 0;
    right: 0;

}

.main-nav{

    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img{
    width: 120px;

}

.nav-links ul {
   gap: 16px;


}

.hover-link{
    cursor: pointer;
}
.hover-link:hover {
  color: red;

}
.search-bar{
    height: 32px;
    gap: 8px;
}
.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
}
.search-button {
    background-color: blue;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover{
    background-color: darkblue;
}

main {
   padding-block: 20px;
   margin-top: 60px;

}

.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}